{% extends 'index.html.twig' %}

    {% block header %}

    {% endblock header %}

    {% block contenu %}
    <div class="container tm-mt-big tm-mb-big">
                    <div class="row">
                        <h1 class="tm-site-title mb-0">Se Connecter</h1>
                        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <form  method="post" class="tm-login-form">
                                    <div class="form-group">
                                        <label for="Login">Identifiant</label>
                                        <input
                                        name="_login"
                                        type="text"
                                        class="form-control validate"
                                        id="login"
                                        value=""
                                        required
                                        />
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="password">Password</label>
                                        <input
                                        name="_password"
                                        type="password"
                                        class="form-control validate"
                                        id="password"
                                        value=""
                                        required
                                        />
                                    </div>
                                    <div class="form-group mt-4">
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('_authenticate') }}">
                                    <button type="submit" class="mt-5 btn btn-primary btn-block text-uppercase">
                                        Connexion
                                    </button>
                                </form>
                                </div>
                                </div>
                            </div>
                    </div>
    {% endblock contenu %}